div{
    background-color: blueviolet;
}
@media(min-width: 450px){
    app-social{
        float: right;
        margin-top: 5%;
    }
    app-logo{
        float: left;
        margin-top: 5%;
    }
}
  
@media(max-width: 451px){
    app-social{
        float: right;
        margin-top: 1%;
    }
    app-logo{
        margin-top: 1%;
    }    
}
