<!--trabajo sobre bootstraps-->
<div class="row">
    <div class="col-2" id="foto">
        <img src="../../../assets/kling.png" 
        alt=""
        id="perfil">
    </div>
    <div class="col-3" id="nombr">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
       
        <h3>Full Stack Developer jr.</h3>
    </div> 
    <div class="col-6" id="acerca" >
        <span>
            <h2>Acerca de mi</h2>
            <p>Lorem ipsum dolor sit amet, 
                consectetur adipisicing.</p>
        </span>
    </div>       
</div>
   
   
 
