<div class="row">
    <h1>Estudios</h1>
    <div class="col-12">
        <ul>
            <li><h1>titulo 1</h1>-<h4>(años)</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci cupiditate distinctio quos aut aperiam voluptatibus tempora ipsam rerum incidunt, sint odio quas voluptates asperiores modi suscipit unde est sit.</p>
            </li>
        </ul>
        <ul>
            <li><h1>Titulo 2</h1>-<h4>(años)</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci cupiditate distinctio quos aut aperiam voluptatibus tempora ipsam rerum incidunt, sint odio quas voluptates asperiores modi suscipit unde est sit.</p>
            </li>
        </ul>
        <ul>
            <li><h1>Titulo 3</h1>-<h4>(años)</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci cupiditate distinctio quos aut aperiam voluptatibus tempora ipsam rerum incidunt, sint odio quas voluptates asperiores modi suscipit unde est sit.</p>
            </li>
        </ul>
    </div>

</div>

